.left {
    text-align: left !important;
}

label {
    color: #5e5e5e !important;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.entire {
    text-align: center;
    max-width: 820px;
    padding-top: 32px;
    padding-bottom: 32px;
    /* padding-left: 32px; */
    /* padding-right: 32px; */
    margin: 32px auto;
    border-radius: 20px;
    overflow: hidden;
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5), 0 2px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5), 0 2px 3px rgba(0, 0, 0, 0.3);
    background: #D3D3D3;
    position: relative; }
.app-wrap::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 400px;
    opacity: 0;
}

.inputBox {
    margin: 0 auto;
}

.input-group {
    width: 200px; 
    margin: 0 auto !important;
}


html {
    background-color: #121212;
}
html::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("https://ingenious.team/resources/images/topography.svg");
    opacity: 0.07; 
}

body {
    background: transparent !important;
}